$primary-font: "Lato", sans-serif;
$heading: "Libre Baskerville", serif;
$primary-color: #a89e89;
$heading-color: #ffffff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
}

h1,
h2,
h3,
p,
a {
  font-family: $primary-font;
}
